<h1>Order Information</h1>

<p>
  Dear <%= @order.name %>
  <br>
  Thank you for your recent order from The Pragmatic Store.

  You ordered the following items:
  <br>
  <%= render @order.line_items -%>
  <br>
  We'll send you a separate e-mail when your order ships.
</p>
